{% extends "layout.html" %}
{% block body %}
<section class="section is-medium">
    <div class="columns">
        <div class="column">
            <h1 class="title is-1"><b>RapportCard</b>: the <b>modern</b> way to review your <b>teachers</b></h1>
            <h2 class="subtitle is-4">We utilize an array of tools, including sentiment analysis to accurately
                rate your
                teachers.</h2>
            <a class="button is-primary" href="/search">Search for a teacher</a>
        </div>
        <div class="column">
            <figure class="image">
                <img src="../static/teacher.png">
            </figure>

        </div>
    </div>
</section>
{% endblock %}