{% extends "layout.html" %}
{% block body %}
<div class="notification is-danger">
    <button class="delete"></button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<section class="section is-small">
    <div class="columns">
        <div class="column is-one-third">
            <figure class="image">
                <img src="{{url_for('static', filename='teacher_profile.png')}}">
            </figure>
        </div>
        <div class="column is-two-thirds">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-1">{{ result["teacher_name"] }}</h1>
                    <h2 class="subtitle is-4">{{ result["school_name"] }}</h2>
                </div>
                <div class="column is-4">
                    <h1 class="title is-3">⭐⭐⭐⭐⭐</h1>
                    <h1 class="title is-2   "><b>{{ result["rating"]|round(1) }}</b> out of 5</h1>
                </div>
            </div>
            <hr style="border-top: 3px solid #e0e0eb;">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3">Modify your review</h1>

                    <form action="/teacher/{{ teacher_id }}/review/{{ review_id }}/modify/1" method="post">

                        <div class="field">
                            <label class="label">Review</label>
                            <div class="control">
                                <textarea name="review" class="textarea has-fixed-size"
                                    placeholder="Enter your review"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Manual Rating</label>
                            <div class="control">
                                <div class="select">
                                    <select name="fallback_rating">
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Re-submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light"
                                    formaction="/teacher/{{ teacher_id}}/review/{{ review_id }}/modify/2">Proceed</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}